p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0 0;
}

.App {
  background-color: gray;
}

.menu {
  background-color: gray;
  display: block;
  text-align: center;
  color: black;
  font-weight: bolder;
}
